*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

ul, .elementosHeader{
    display: grid;

}

.elementosHeader{
    justify-content: space-between;
}

.oferta{
    padding: 5px;
}

.oferta, #promocao h2{
    text-transform: uppercase;
}

#menu{
    width: 350px;
    color: #635352;
}

#contato{
    width: 155px;
}

#whatsapp{
    background-color: #F59A1B;
    padding: 5px;
    border-radius: 5px;
    width: 75px
}

#redes{
    width: 52px;
}

#hamburguer{
    background: url(ofertas_imagens/oferta-1.png) no-repeat;
    height: 431px;
    width: 770px;
}

#batata{
    background: url(ofertas_imagens/oferta-2.png) no-repeat;
    height: 201px;
    width: 371px;
}

#sorvete{
    background: url(ofertas_imagens/oferta-3.png) no-repeat;
    height: 201px;
    width: 371px;
}

#funcionamento{
    background: #F43127;
    padding: 5px;
    width: 570px;
    height: 130.93px;
    border-radius: 10px;
}

hr{
    width: 2px;
    height: 35px;
    color: #000;
    border: 0;
}

header{
    background-image: url(images/banner-hero.png);
    background-repeat: no-repeat;
}