*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lilita+One&display=swap');

ul{
    list-style: none;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

ul, .elementosHeader, .oferta, #direitos, #promocao{
    display: grid;
}

.elementosHeader{
    justify-content: space-between;
}

.oferta{
    grid-template-columns: 308px;
    grid-template-rows: 28px;
    padding: 5px;
}

.oferta, #promocao h2{
    text-transform: uppercase;
}

.nomeOferta, .pesoOferta{
    grid-column: 1;
}

.nomeOferta{
    grid-row: 1;
}

.pesoOferta{
    grid-row: 2;
}

#fraseHamburguer{
    grid-row: 3;
    grid-column: 3;
}

#menu{
    width: 350px;
    color: #635352;
}

#contato{
    width: 155px;
}

#whatsapp{
    background-color: #F59A1B;
    padding: 5px;
    border-radius: 5px;
    width: 75px
}

#redes{
    width: 52px;
}

#hamburguer{
    background: url(ofertas_imagens/oferta-1.png) no-repeat;
    height: 431px;
    width: 770px;
    grid-row-start: 1;
    grid-column-end: 3;
    grid-column: 1;
}

#batata{
    background: url(ofertas_imagens/oferta-2.png) no-repeat;
    height: 201px;
    width: 371px;
    grid-row: 1;
}

#sorvete{
    background: url(ofertas_imagens/oferta-3.png) no-repeat;
    height: 201px;
    width: 371px;
    grid-row: 3;
}

#batata, #sorvete{
    grid-column: 3;  
}

#funcionamento{
    background: #F43127;
    padding: 5px;
    width: 570px;
    height: 130.93px;
    border-radius: 10px;
}

hr{
    width: 2px;
    height: 35px;
    color: #000;
    border: 0;
}

header{
    background-image: url(images/banner-hero.png);
    background-repeat: no-repeat;
}